            .header {display: flex; 
                flex-direction: row; 
                justify-content: space-between; 
                /*justify-contents
                    space-around : 요소 동일한 간격. 첫번째 요소, 마지막 요소 좌/우 간격 적용
                    space-between : 요소 동일한 간격. 첫번째 요소, 마지막 요소 각각 끝에 위치한 후 적용 */
                background-color: rgb(0, 0, 0); 
                border-bottom-width: 1px; 
                border-bottom-style: solid; 
                border-bottom-color: gray; 
                position: fixed; 
                right: 0;
                left: 0;
                top: 0;}
            .left-section { display: flex; justify-content: left; margin: 0px 20px 0px 20px;}
            /*
            margin/padding 작성 방식에 따른 적용 범위
            ex) padding : 1px 2px 3px 4px; > top right bottom left
            padding : 5px 10px; > top/bottom right/left
            padding : 3px; > 전체 적용
            align-items : 세로축 정렬
            justify-contents : 가로축 정렬
            border-radius : 가생이 둥글게
            */
            .hamburger-menu {height: 50px;}
            .youtube-logo {height: 50px; margin-left: 10px;}
            .search-icon {height: 27px;}
            .search-button {margin-left: 3px; border-radius: 0px 15px 15px 0; cursor: pointer; background-color: rgb(63, 63, 63);}
            .search-bar {height: 30px; 
                    border-radius: 15px 0px 0px 15px; 
                    background-color: rgb(63, 63, 63); 
                    text-align: left; 
                    flex: 1;
                    padding-left: 10px;
                    color: white;}
            .middle-section { display: flex; 
                        align-items: center; 
                        justify-content: center; 
                        margin: 0px 50px 0px 50px;
                        max-width: 50%;
                        min-width: 10%;
                        flex: 1;}
                        /*flex: 1; = flex-grow: 1; flex-shrink: 1; flex: basis 0%;
                            -flex-grow : flex item 요소의 길이를 늘릴 수 있는지에 대한 설정
                                (0: 기존크기 유지(default), 1+: 유동적으로 변경 가능)
                            -flex-shrink : flex item 요소의 길이를 줄일 수 있는지에 대한 설정
                                (0: 기존크기 유지, 1+: 설정한 비율로 줄어듦(default:1))
                            -flex-basis : flex item 요소의 기본 크기. default : auto (콘텐츠 너비 기준)
                                *flex-direction 설정이 row일 때는 너비, column일 때는 높이 기준
                        */
                        
            .right-section {display: flex; 
                        align-items: center; 
                        justify-content: right;
                        margin: 0px 20px 0px 20px;}
            .user-icon {height: 30px; background-color: gray;
                        border-radius: 50%;}
            .tooltip {
            position: absolute; 
            padding-left: 10px;
            padding-right: 10px; 
            font-size: 16px; 
            color: white; 
            bottom: -30px; 
            border-radius: 2px;
            background-color: gray;
            opacity: 0;  /*불투명도 */
            transition: opacity 0.2s; /*애니메이션 관련 속성*/
            pointer-events: none;
            }
            .search-button:hover .tooltip {opacity: 1;}
            input::placeholder {color: white; }