            .nav {background-color: black; justify-content: left; 
                width: 301px;
                position: fixed;
                top: 52px; 
                bottom: 0;
                left: 0;
                flex: 1; 
                min-width: 10%;
                max-width: 50%;}
            .sidebar-link {display: flex; align-items: center;
                        background-color: black;
                        width: 295px; height: 60px;
                        min-width: 10%;
                        max-width: 100%; 
                        }
            .sidebar-img {height: 50px; 
                        margin-right: 10px; 
                        margin-left: 10px;}
            .sidebar-text {
                margin-left: 15px; 
                justify-content: center; 
                color: white;}
            .sidebar-link:hover {
                background-color: rgb(97, 97, 97); 
                margin-right: 15px;
            }
